{% extends 'base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block body %}
    <h1>Search Results</h1>
    {% if recipes is empty %}
        <p>No recipes found for the selected ingredients.</p>
    {% else %}
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href="{{ path('recipe_edit', {'id': recipe.id}) }}">{{ recipe.label }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
